<h1>All Jobs for <strong><%= @company.name %></strong></h1><br/>
<%= link_to "Company Index", companies_path %><br/>
<%= link_to "Add a New Job Here", new_company_job_path %>

<% @jobs.each do |job| %>
  <li class=job_<%= job.id %>>
    <%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %>:
    <%= link_to "Edit", edit_company_job_path(@company, job) %>
    <%= link_to "Delete", company_job_path(@company, job), method: :delete %>
  </li>
<% end %>
